    <div class="dummy-space">

    </div>
    <footer>
        <div class="container-fluid">
            <div class="row pt-5">
                <div class="col-12 col-sm-12 col-lg-3">
                    <div class="logo">
                        <img src="../../assets/image/sticker 24.jpg" alt="logo">
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="collection">
                        <a href="##">Contact</a>
                        <a href="##"><fa-icon [icon]="['fas', 'phone-square']"></fa-icon> 09 785050225</a>
                        <a href="##"><fa-icon [icon]="['fas', 'phone-square']"></fa-icon> 09 764564974</a>
                        <a href="##"><fa-icon [icon]="['fab', 'facebook-square']"></fa-icon> Class6 House</a>
                        <a href="##"><fa-icon [icon]="['fab', 'instagram-square']"></fa-icon> class6house</a>
                    
                </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="services">
                        <a href="##">Services</a>
                        <a href="##"><fa-icon [icon]="['fas', 'truck']"></fa-icon> Door to door (Yangon)</a>
                        <a href="##"><fa-icon [icon]="['fas', 'truck']"></fa-icon> Cash on delivery</a>
                        <!-- <a href="##">Services03</a>
                        <a href="##">Services04</a> -->
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-3">        
                    <div class="other">
                        <a href="##">Store Location</a>
                        <a href="##">About us</a>
                        <a href="##">Class6 House Memembers</a>
                        <a href="##">Our Story</a>
                    </div>
            </div>
            </div>

        </div>
    </footer>
