<div class="img-modal">
    <picture>
        <source media="(min-width:800px)" [srcset]="imgModalAttr.src.DES">
        <source media="(max-width:799px)" [srcset]="imgModalAttr.src.mobile">
        <img [src]="imgModalAttr.src.mobile" alt="Flowers">
    </picture>
    <!-- <img [src]="imgModalAttr.src" alt="image"> -->
</div>

<div  class="text">
    <ul>
        <li *ngIf="imgModalAttr.name">Name - {{imgModalAttr.name}}</li>
        <li *ngIf="imgModalAttr.place">Location - {{imgModalAttr.place}}</li>
        <li *ngIf="imgModalAttr.item">Item - {{imgModalAttr.item}}</li>
        <li *ngIf="imgModalAttr.dimension">dimension - {{imgModalAttr.dimension}}</li>
        <li *ngIf="imgModalAttr.color">Color - {{imgModalAttr.color}}</li>
        <li *ngIf="imgModalAttr.price">Price - {{imgModalAttr.price}}</li>           
    </ul>
</div>