    <ul [ngClass]="drop ? 'responsive' : ''">
        <li><a  routerLink="['/underCon']">Class6 House</a> <fa-icon (click)="switch()" id="bars" [icon]="['fas', 'bars']"></fa-icon></li>
        <li><a href="##">Store  <fa-icon class="arrow"  [icon]="['fas', 'arrow-right']"></fa-icon></a></li>
        <li><a href="##">Featured Project  <fa-icon class="arrow" [icon]="['fas', 'arrow-right']"></fa-icon></a></li>
        <!-- <li><a href="##">About us  <fa-icon *ngIf="drop" [icon]="['fas', 'arrow-right']"></fa-icon></a></li>
        <li><a href="##">Class6 House members  <fa-icon *ngIf="drop" [icon]="['fas', 'arrow-right']"></fa-icon></a></li>
        <li><a href="##">Contant Us  <fa-icon *ngIf="drop" [icon]="['fas', 'arrow-right']"></fa-icon></a></li>
        <li><a href="##">The origine of Route 66  <fa-icon *ngIf="drop" [icon]="['fas', 'arrow-right']"></fa-icon></a></li>
        <li><a href="##">Store Location  <fa-icon *ngIf="drop" [icon]="['fas', 'arrow-right']"></fa-icon></a></li> -->
    </ul>
