    <ul id="top" [ngClass]="drop ? 'responsive' : ''">
        <li>
            <a routerLink="">Class6 House</a>         
            <a #link [attr.href]="IphoneURL">
                <fa-icon [icon]="['fab', 'facebook-square']"></fa-icon>
            </a>

            <a href="https://www.instagram.com/class6house/">
                <fa-icon [icon]="['fab', 'instagram-square']">
                </fa-icon>
            </a>

        
            <fa-icon (click)="switch()" id="bars" [icon]="['fas', 'bars']"></fa-icon>
        </li>
        <li *ngIf="screenWidth < 600"><a routerLink="/store">Store  <fa-icon class="arrow"  [icon]="['fas', 'arrow-right']"></fa-icon></a></li>
        <li *ngIf="screenWidth < 600"><a href="##">Featured Project  <fa-icon class="arrow" [icon]="['fas', 'arrow-right']"></fa-icon></a></li>
        <li *ngIf="screenWidth < 600"><a routerLink="/aboutus">About us  <fa-icon *ngIf="drop" [icon]="['fas', 'arrow-right']"></fa-icon></a></li>
        <li *ngIf="screenWidth < 600"><a href="##">Class6 House members  <fa-icon *ngIf="drop" [icon]="['fas', 'arrow-right']"></fa-icon></a></li>
        <li *ngIf="screenWidth < 600"><a href="##">Contant Us  <fa-icon *ngIf="drop" [icon]="['fas', 'arrow-right']"></fa-icon></a></li>
        <li *ngIf="screenWidth < 600"><a href="##">The origine of Route 66  <fa-icon *ngIf="drop" [icon]="['fas', 'arrow-right']"></fa-icon></a></li>
        <li *ngIf="screenWidth < 600"><a href="##">Store Location  <fa-icon *ngIf="drop" [icon]="['fas', 'arrow-right']"></fa-icon></a></li>
    </ul>
