.div {

    .aboutus {
        color: rgb(255, 255, 255);
        width: 100vw;
        min-height: 70vh;
        font-weight: 800;
        font-size: 1rem;
        padding: 1rem;
        background-image: url(https://res.cloudinary.com/class6house/image/upload/v1621930839/DESstore/aboutus_ogto4c.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}