<div class="div">
    <div class="img-about">
        <img src="https://res.cloudinary.com/class6house/image/upload/v1621930839/DESstore/aboutus_ogto4c.jpg" alt="">
    </div>

    <div class="aboutus">
        <p>
            Vintage decor items are without a doubt pleasing to the eye. If one would know the era of vintage items and their history, the decoration gonna be a lot more than things putting up the wall for the showy purpose. And you can see a person's passion by looking at what they decorate their territory.
        </p>
        
        <p>
            Class6 House has been established in March 2019 founded by Chan Min Naing because of his passion for vintage decorative items. Shortly after co-founder Arr Thar Zaw and Nay Aung Lin joined the establishment and they have been working together ever since. They've offered a lot of customers satisfying service throughout the country. And even take over the whole decoration of some of the customer's bars.    
        </p>
        
        <p>
            The priorities are to make sure the quality of products is excellent among others, fulfilling customer service, taking full responsibility until the consumer gets the package,  daily delivery route of the whole country, and fully exchange items if not meet the requirements of the client's pleasing. Furthermore, Every admin/salesperson will be going to explain everything some want to know online or offline.
        </p>

    </div>

</div>