.div {
    position: relative;

    .img-about {
        width: 100%;
        filter: brightness(50%);
        
        img {
            width: 100%;
        }
    }

    .aboutus {
        position: absolute;
        top: 10%;
        color: white;
        width: 100vw;
        font-weight: 800;
        // font-size: 1rem;
        font-size: 1rem;
        padding: 1rem;
    
    }
    @media only screen and (max-width: 600px) {
        .aboutus {
            font-size: 0.7rem;
        }
    }

    @media only screen and (max-width: 400px) {
        .aboutus {
            top: 0;
            font-size: 0.6rem;
        }
    }

}