

<div class="cu-modal-background" [@modalAni]="getAniTrigger() || 'disappear'">

    <div class="cu-modal-body">
        <div>
            <a href="##">
                <div #divs>
                    <img src="../../assets/image/plate01resized.jpg" alt="image">

                    <div class="text">
                        <h2>Image</h2>
                    </div>
                </div>
            </a>

        </div>
        <div>
            <a href="##">
                <div #divs>
                    <img src="../../assets/image/plate02resized.jpg" alt="image">

                    <div class="text">
                        <h2>Image</h2>
                    </div>
                </div>
            </a>

        </div>
        <div>
            <a href="##">
                <div #divs>
                    <img src="../../assets/image/plate03resized.jpg" alt="image">

                    <div class="text">
                        <h2>Image</h2>
                    </div>
                </div>

            </a>


        </div>
        <div>
            <a href="##">
                <div #divs>
                    <img src="../../assets/image/plate04resized.jpg" alt="image">

                    <div class="text">
                        <h2>Image</h2>
                    </div>
                </div>
            </a>


        </div>
        <div>
            <a href="##">
                <div #div>
                    <img src="../../assets/image/plate05resized.jpg" alt="image">

                    <div class="text">
                        <h2>Image</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>





