<div class="cu-container" (click)="roll()">

    <h1>Featured Products</h1>

    <div class="products">
        <div class="container">
            <div class="row">
                <div  class="col-10 offset-1">
                    <a routerLink="/products" id="img02" href="##">
                        <img src="https://res.cloudinary.com/class6house/image/upload/v1622705370/drums01_ggbmur.jpg" class="product-img01">
                        <!--    <advanced-image #cloudImg class="img" [cldImg]="routeImg"></advanced-image> -->
                        <!-- <img class="img" src="../../assets/image/route66_02.jpg" alt=""> -->
                        <div class="product-text">
                            <h2>Industrial Decoration</h2>
                            <h2>Class6 Oil Drums</h2>
                            <h2>Pallet Box</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h1>Our Customers' Shops</h1>

    <div class="customer">
        <div class="container">
            <div class="row">
                <div  class="col-10 offset-1">
                    <a (click)="openModal('customer')" id="img01" href="##">
                        <img src="https://res.cloudinary.com/class6house/image/upload/v1622705444/coffee_bu92dm.jpg" class="product-img01">
                        <h2>Our Customers' Shops</h2>

                        <picture>
                            <source>
                            
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <h1>Store Collection</h1>
    <div class="store-collection">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-4">
                    <div (click)="openModal('route-modal')" class="tempnails">
                        <a href="##">
                            <picture>
                                <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928643/DESstore/routeDES_cszaeo.jpg">
                                <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621927225/route_ibrgyk.jpg">
                                <img src="https://res.cloudinary.com/class6house/image/upload/v1621927321/route_fe9upp.jpg" alt="image">
                            </picture>
                            <div>
                                <h2>Route 66 Signs</h2>
                                <small>Vintage Tin Signs</small>
                            </div>
                        </a>
                    </div>                    
                </div>

                <div class="col-6 col-sm-4 col-md-4">
                    <div (click)="openModal('licence-modal')" class="tempnails">
                        <a href="##">
                            <picture>
                                <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928644/DESstore/licenceDES_cnbetr.jpg">
                                <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621927228/licence_hr4yhz.jpg">
                                <img src="https://res.cloudinary.com/class6house/image/upload/v1621927228/licence_hr4yhz.jpg" alt="Flowers">
                            </picture>
                            <div>
                                <h2>Hanging License Plates</h2>
                                <small>License plates</small>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-6 mt-5 col-sm-4 mt-sm-0 col-md-4 mt-md-0">
                    <div (click)="openModal('caps-modal')" class="tempnails">
                        <a href="##">
                            <picture>
                                <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928645/DESstore/capsDES_kxjkwl.jpg">
                                <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621927226/caps_jm2nb0.jpg">
                                <img src="https://res.cloudinary.com/class6house/image/upload/v1621927226/caps_jm2nb0.jpg" alt="Flowers">
                            </picture>
                            <div>
                                <h2>Bottle Caps</h2>
                                <small>Wall Decoration Bottle Caps</small>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-6  mt-5 col-sm-4 col-md-4 mt-md-5">
                    <div (click)="openModal('garage-modal')" class="tempnails">
                        <a href="##">
                            <picture>
                                <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928643/DESstore/garageDES_xe1pr2.jpg">
                                <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621927225/garage_z2rgcq.jpg">
                                <img src="https://res.cloudinary.com/class6house/image/upload/v1621927225/garage_z2rgcq.jpg" alt="Flowers">
                            </picture>
                            <div>
                                <h2>Garage Signs</h2>
                                <small>Vintage Garage Signs</small>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-6 mt-5 col-sm-4 col-md-4 mt-md-5">
                    <div (click)="openModal('drum-modal')" class="tempnails">
                        <a href="##">
                            <picture>
                                <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928645/DESstore/drumDES_ovjwme.jpg">
                                <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621927225/drums_q1z9eb.jpg">
                                <img src="https://res.cloudinary.com/class6house/image/upload/v1621927225/drums_q1z9eb.jpg" alt="Flowers">
                            </picture>
                            <div>
                                <h2>Oil Drums</h2>
                                <small>Stool</small>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-6 mt-5 col-sm-4 col-md-4 mt-md-5">
                    <div (click)="openModal('recording-modal')" class="tempnails">
                        <a  href="##">
                            <picture>
                                <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928643/DESstore/recordingDES_x79stm.jpg">
                                <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621927225/recording_wno6ov.jpg">
                                <img src="https://res.cloudinary.com/class6house/image/upload/v1621927225/recording_wno6ov.jpg" alt="">
                            </picture>
                            <div>
                                <h2>Vinyl Record</h2>
                                <small>Wall Decoration LP</small>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-6 mt-5 col-sm-4 col-md-4 mt-md-5">
                    <div (click)="openModal('caps-chair')" class="tempnails">
                        <a  href="##">
                            <picture>
                                <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928644/DESstore/chairDES_hrebcm.jpg">
                                <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621929269/chair_pq3p3e.jpg">
                                <img src="https://res.cloudinary.com/class6house/image/upload/v1621929269/chair_pq3p3e.jpg" alt="">
                            </picture>
                            <div>
                                <h2>Bottle Caps Chair</h2>
                                <small>Bar Chairs</small>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-6 mt-5 col-sm-4 col-md-4 mt-md-5">
                    <div (click)="openModal('radio-modal')" class="tempnails">
                        <a  href="##">
                            <picture>
                                <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928642/DESstore/radioDES_rh0vju.jpg">
                                <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621929268/untique_sr2mv9.jpg">
                                <img src="https://res.cloudinary.com/class6house/image/upload/v1621929268/untique_sr2mv9.jpg" alt="">
                            </picture>
                            <div>
                                <h2>Antique Imitation</h2>
                                <small>Radio</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<to-modal id="customer" opacity="rgba(0, 0, 0, 0.8)">
    <div class="cu-modal-body">

        <app-carousel [modals]="imgModal">
        </app-carousel>

        <!-- <img-modal [imgModalAttr]="imgModal[0]"></img-modal>
        <img-modal [imgModalAttr]="imgModal[1]"></img-modal> -->

    </div>
</to-modal>


<to-modal id="route-modal" opacity="rgba(0, 0, 0, 0.6)">
    <div class="cu-modal-body">
        <h1>Vintage Sign Metal-plates</h1>
        <div class="img-modal">
            <picture>
                <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928643/DESstore/routeDES_cszaeo.jpg">
                <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621927225/route_ibrgyk.jpg">
                <img src="https://res.cloudinary.com/class6house/image/upload/v1621927321/route_fe9upp.jpg" alt="image">
            </picture>

            <ul class="descri">
                <li>Item - Vintage signs</li>
                <li>Dimension - 30 x 20 cm</li>
                <li>Material - Matel</li>
            </ul>
        </div>
        <div class="text">

            <ul>
                <li>Class6 House Facebook Page</li>
                <li>ph - 09 785050225, 09 764564974</li>
            </ul>
        </div>

    </div>
</to-modal>

<to-modal id="licence-modal" opacity="rgba(0, 0, 0, 0.6)">
        <div class="cu-modal-body">
            <h1>Hanging License Plates</h1>
            <div class="img-modal">
                <picture>
                    <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928644/DESstore/licenceDES_cnbetr.jpg">
                    <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621927228/licence_hr4yhz.jpg">
                    <img src="https://res.cloudinary.com/class6house/image/upload/v1621927228/licence_hr4yhz.jpg" alt="Flowers">
                </picture>

                <ul class="descri">
                    <li>Item - Hanging license plates</li>
                    <li>Dimension - 30 x 15 cm</li>
                    <li>Material - Metal</li>
                </ul>
            </div>
            <div class="text">

                <ul>
                    <li>Class6 House Facebook Page</li>
                    <li>ph - 09 785050225, 09 764564974</li>
                </ul>
            </div>
    
        </div>
    
</to-modal>

<to-modal id="caps-modal" opacity="rgba(0, 0, 0, 0.6)">
        <div class="cu-modal-body">
            <h1>Wall Decor Bottle Caps</h1>
            <div class="img-modal">
                <picture>
                    <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928645/DESstore/capsDES_kxjkwl.jpg">
                    <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621927226/caps_jm2nb0.jpg">
                    <img src="https://res.cloudinary.com/class6house/image/upload/v1621927226/caps_jm2nb0.jpg" alt="Flowers">
                </picture>

                <ul class="descri">
                    <li>Item - Wall decor bottle cpas</li>
                    <li>Dimension - 35 cm</li>
                    <li>Material - Metal</li>
                </ul>
            </div>
            <div class="text">


                <ul>
                    <li>Class6 House Facebook Page</li>
                    <li>ph - 09 785050225, 09 764564974</li>
                </ul>
            </div>
    
        </div>
    
</to-modal>

<to-modal id="garage-modal" opacity="rgba(0, 0, 0, 0.6)">
        <div class="cu-modal-body">
            <h1>Die Cut Garage Signs</h1>
            <div class="img-modal">
                <picture>
                    <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928643/DESstore/garageDES_xe1pr2.jpg">
                    <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621927225/garage_z2rgcq.jpg">
                    <img src="https://res.cloudinary.com/class6house/image/upload/v1621927225/garage_z2rgcq.jpg" alt="Flowers">
                </picture>
                <ul class="descri">
                    <li>Item - Die cut garage signs</li>
                    <!-- <li>Dimension - 30 x 20 cm</li> -->
                    <li>Material - Matel</li>
                </ul>
            </div>
            <div class="text">


                <ul>
                    <li>Class6 House Facebook Page</li>
                    <li>ph - 09 785050225, 09 764564974</li>
                </ul>
            </div>
    
        </div>
    
</to-modal>

<to-modal id="drum-modal" opacity="rgba(0, 0, 0, 0.6)">
        <div class="cu-modal-body">
            <h1>Oil Drum Stools</h1>
            <div class="img-modal">
                <picture>
                    <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928645/DESstore/drumDES_ovjwme.jpg">
                    <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621927225/drums_q1z9eb.jpg">
                    <img src="https://res.cloudinary.com/class6house/image/upload/v1621927225/drums_q1z9eb.jpg" alt="Flowers">
                </picture>
                <ul class="descri">
                    <li>Item - Oil drum stools</li>
                    <li>Dimension - 35 x 47 cm</li>
                    <li>Material - Matel, artificial leather</li>
                </ul>
            </div>
            <div class="text">

                <ul>
                    <li>Class6 House Facebook Page</li>
                    <li>ph - 09 785050225, 09 764564974</li>
                </ul>
            </div>
    
        </div>
    
</to-modal>

<to-modal id="recording-modal" opacity="rgba(0, 0, 0, 0.6)">
        <div class="cu-modal-body">
            <h1>Imitation Record LP</h1>
            <div class="img-modal">
                <picture>
                    <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928643/DESstore/recordingDES_x79stm.jpg">
                    <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621927225/recording_wno6ov.jpg">
                    <img src="https://res.cloudinary.com/class6house/image/upload/v1621927225/recording_wno6ov.jpg" alt="">
                </picture>
                <ul class="descri">
                    <li>Item - Record LP</li>
                    <li>Dimension - 30 cm, 38 cm</li>
                    <li>Material - wood</li>
                </ul>
            </div>
            <div class="text">


                <ul>
                    <li>Class6 House Facebook Page</li>
                    <li>ph - 09 785050225, 09 764564974</li>
                </ul>
            </div>
    
        </div>
    
</to-modal>

<to-modal id="caps-chair" opacity="rgba(0, 0, 0, 0.6)">
    <div class="cu-modal-body">
        <h1>Bottle Cap Chairs</h1>
        <div class="img-modal">
            <picture>
                <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928644/DESstore/chairDES_hrebcm.jpg">
                <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621929269/chair_pq3p3e.jpg">
                <img src="https://res.cloudinary.com/class6house/image/upload/v1621929269/chair_pq3p3e.jpg" alt="">
            </picture>
            <ul class="descri">
                <li>Item - Bottle cap chairs</li>
                <li>Dimension - 30 x 47 cm</li>
                <li>Material - Matel</li>
            </ul>
        </div>
        <div class="text">

            <ul>
                <li>Class6 House Facebook Page</li>
                <li>ph - 09 785050225, 09 764564974</li>
            </ul>
        </div>

    </div>

</to-modal>


<to-modal id="radio-modal" opacity="rgba(0, 0, 0, 0.6)">
    <div class="cu-modal-body">
        <h1>Antique Imitation</h1>
        <div class="img-modal">
            <picture>
                <source media="(min-width:800px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621928642/DESstore/radioDES_rh0vju.jpg">
                <source media="(max-width:799px)" srcset="https://res.cloudinary.com/class6house/image/upload/v1621929268/untique_sr2mv9.jpg">
                <img src="https://res.cloudinary.com/class6house/image/upload/v1621929268/untique_sr2mv9.jpg" alt="">
            </picture>
            <ul class="descri">
                <li>Item - Antique Imitation</li>
                <!-- <li>Dimension - 30 x 20 cm</li> -->
                <li>Material - wood, resin</li>
            </ul>
        </div>
        <div class="text">

            <ul>
                <li>Class6 House Facebook Page</li>
                <li>ph - 09 785050225, 09 764564974</li>
            </ul>
        </div>

    </div>

</to-modal>